---
layout: default
permalink: "/blog/"
---

<div class="page-title text-center text-uppercase col-12">Blog</div>
{% assign sortedCategories = site.categories | sort %}
<div class="posts">
  <div class="categories col-sm-10 offset-lg-1 offset-md-1 offset-sm-1">
    {% for category in sortedCategories %}
    <a href="/category/{{category[0]}}" class="badge badge-warning">#{{category[0]}}</a>
    {% endfor %}
    <a href="/blog" class="badge badge-warning">#all</a>
  </div>
  <div class="post-list">
    {% for post in site.posts %}
    <div class="col-sm-6 post">
      <!-- The next line uses Liquid tags to remove .html from the end of post-urls -->
      <a href="{{ post.url | split: "" | reverse | join: "" | remove_first: "lmth." | split: "" | reverse | join: "" }}" class="post-title">{{post.title}}</a>
      <div class="post-description">{{post.summary}}</div>
    </div>
    {% endfor %}
  </div>
</div>
