---
layout: page
title: Blog
permalink: "/blog.html"
redirect_from: [
"/blog/index.html",
]
---
{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
<div class="periods-wrapper">
  {% for year in postsByYear %}
  <div class="period">
    <h2 class="period-title">{{ year.name }} ({{ year.items | size }})</h2>
    
    <div class="post-list">
      {% for post in year.items %}
      
      {% comment %}
      {% raw %}
      Remove .html from the end of post urls
      {% endraw %}
      {% endcomment %}
      {% assign postUrl = post.url | split: "" | reverse | join: "" | remove_first: "lmth." | split: "" | reverse | join: "" %}
      <p class="post-item">
        <a href="{{ postUrl }}" class="post-title">{{ post.title }}</a>
        <br>
        <span class="post-description">{{ post.summary }}</span>
      </p>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
