---
permalink: "/books/"
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" type="image/png" href="/favicon.png"/>
  <title>Books - Varun Barad</title>
  <meta name="description" content="{{site.description}}"/>
  
  <!-- RSS Feed meta-data -->
  {% feed_meta %}
  
  <!-- Twitter meta-data -->
  <meta name="twitter:site" content="@{{site.twitter_username}}"/>
  <meta name="twitter:image:src" content="{{site.url}}/assets/images/logo-hd.png"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="{{site.title}}"/>
  <meta name="twitter:description" content="{{site.description}}"/>
  
  <!-- Open-Graph meta-data -->
  <meta property="og:site_name" content="{{site.title}}"/>
  <meta property="og:image" content="{{site.url}}/assets/images/logo-hd.png"/>
  <meta property="og:type" content="object"/>
  <meta property="og:title" content="{{site.title}}"/>
  <meta property="og:url" content="{{site.url}}{{page.url}}"/>
  <meta property="og:description" content="{{site.description}}"/>
  
  <!-- Styles kept here for now -->
  {% include new_styles.html %}
</head>
<body>
{% include header.html %}
<main>
  <h1>Books</h1>
  
  <div class="periods-wrapper">
    <div class="period">
      <h2 class="period-title">Currently reading</h2>
      
      <div class="book-list">
        <ul>
          <li>Modi @ 20: Dreams Meet Delivery<br>Multiple Authors</li>
          <li>Sprint: How to Solve Big Problems and Test New Ideas in Just Five Days<br>Jake Knapp, John Zeratsky, Braden Kowitz (Started: 2023-01-25)</li>
          <li>Do or Diamond<br>A. F. Kemp (Started: 2023-09-06)</li>
          <li>The Hidden Hindu<br>Akshat Gupta (Started: 2023-09-13)</li>
        </ul>
      </div>
    </div>
    
    <div class="period">
      <hr>
      
      <h2 class="period-title">2023</h2>
      
      <div class="book-list">
        <ul>
          <li>97 Things Every Programmer Should Know: Collective Wisdom from the Experts<br>Kevlin Henney (Finished: 2023-09-11)</li>
          <li>Lal Salaam<br>Smriti Zubin Irani (Started: 2023-08-23 | Finished: 2023-09-05)</li>
          <li>The Golden Enclaves<br>Naomi Novik (Started: 2023-02-14 | Finished: 2023-02-19)</li>
          <li>I Think You're on Mute<br>Ellie Ross (Started: 2023-01-23 | Finished: 2023-01-23)</li>
          <li>The Last Graduate<br>Naomi Novik (Started: 2023-01-13 | Finished: 2023-01-22)</li>
          <li>A Deadly Education<br>Naomi Novik (Started: 2023-01-03 | Finished: 2023-01-13)</li>
        </ul>
      </div>
    </div>
    
    <div class="period">
      <hr>
      
      <h2 class="period-title">2022</h2>
      
      <div class="book-list">
        <ul>
          <li>Daughter of the Deep<br>Rick Riordan (Started: 2022-12-16 | Finished: 2022-12-21)</li>
          <li>Project Hail Mary<br>Andy Weir (Started: 2022-10-04 | Finished: 2022-12-15)</li>
          <li>The Adventures of Tintin And The Picaros<br>Hergé (Started: 2022-10-31 | Finished: 2022-10-31)</li>
          <li>The Adventures of Tintin - Flight 714 To Sydney<br>Hergé (Started: 2022-10-28 | Finished: 2022-10-30)</li>
          <li>The Adventures of Tintin - The Castafiore Emerald<br>Hergé (Started: 2022-10-26 | Finished: 2022-10-27)</li>
          <li>The Adventures of Tintin - Tintin in Tibet<br>Hergé (Started: 2022-10-23 | Finished: 2022-10-24)</li>
          <li>The Adventures of Tintin - The Red Sea Sharks<br>Hergé (Started: 2022-10-21 | Finished: 2022-10-22)</li>
          <li>The Adventures of Tintin - The Calculus Affair<br>Hergé (Started: 2022-10-19 | Finished: 2022-10-20)</li>
          <li>And Then There Were None<br>Agatha Christie (Started: 2022-09-25 | Finished: 2022-10-19)</li>
          <li>The Adventures of Tintin - Land of Black Gold<br>Hergé (Started: 2022-10-12 | Finished: 2022-10-13)</li>
          <li>The Adventures of Tintin - Prisoners of The Sun<br>Hergé (Started: 2022-10-10 | Finished: 2022-10-11)</li>
          <li>The Adventures of Tintin - The Seven Crystal Balls<br>Hergé (Started: 2022-10-08 | Finished: 2022-10-09)</li>
          <li>The Adventures of Tintin - Red Rackham's Treasure<br>Hergé (Started: 2022-10-06 | Finished: 2022-10-07)</li>
          <li>The Adventures of Tintin - The Secret of The Unicorn<br>Hergé (Started: 2022-10-05 | Finished: 2022-10-06)</li>
          <li>What If<br>Randall Munroe (Started: 2022-09-12 | Finished: 2022-10-03)</li>
          <li>The Phoenix Project<br>Gene Kim, Kevin Behr, George Spafford (Started: 2022-09-12 | Finished: 2022-09-25)</li>
          <li>How To<br>Randall Munroe(Finished: 2022-09-17)</li>
          <li>The Man In The Brown Suit<br>Agatha Christie (Started: 2022-09-02 | Finished: 2022-09-09)</li>
          <li>The Adventures of Tintin - The Shooting Star<br>Hergé (Started: 2022-09-01 | Finished: 2022-09-02)</li>
          <li>The Adventures of Tintin - The Crab with The Golden Claws<br>Hergé (Started: 2022-08-30 | Finished: 2022-09-01)</li>
          <li>The Adventures of Tintin - King Ottokar's Sceptre<br>Hergé (Started: 2022-08-29 | Finished: 2022-08-29)</li>
          <li>Getting Things Done<br>David Allen</li>
          <li>The Adventures of Tintin - The Black Island<br>Hergé</li>
          <li>The Adventures of Tintin - The Broken Ear<br>Hergé</li>
          <li>Poirot Investigates<br>Agatha Christie</li>
          <li>His Last Bow<br>Arthur Conan Doyle</li>
          <li>Mother of Learning<br>Damagoj Kurmaic</li>
          <li>Journey to the Center of the Earth<br>Jules Verne</li>
          <li>Seven Languages in Seven Weeks<br>Bruce A. Tate</li>
          <li>This Is Going To Hurt<br>Adam Kay</li>
          <li>The Unicorn Project<br>Gene Kim</li>
          <li>Exhalation<br>Ted Chiang</li>
          <li>Adulthood is a Myth<br>Sarah Andersen</li>
          <li>Artemis<br>Andy Weir</li>
          <li>India's Railway Man (A Biography of E. Sreedharan)<br>Rajendra B. Aklekar</li>
          <li>Operation Haygreeva<br>Prabhakar Aloka</li>
        </ul>
      </div>
    </div>
    
    <div class="period">
      <hr>
      
      <h2 class="period-title">2021</h2>
      
      <div class="book-list">
        <ul>
          <li>How to Live on 24 Hours a Day<br>Arnold Bennett</li>
          <li>The Adventures of Tintin - Explorers on the Moon<br>Hergé</li>
          <li>The Adventures of Tintin - Destination Moon<br>Hergé</li>
          <li>The Adventures of Tintin - Tintin in the Land of the Soviets<br>Hergé</li>
          <li>The Adventures of Tintin - Tintin in America<br>Hergé</li>
          <li>The Adventures of Tintin - Cigars of the Pharaoh<br>Hergé</li>
          <li>The Adventures of Tintin - The Blue Lotus<br>Hergé</li>
        </ul>
      </div>
    </div>
    
    <div class="idea">
      <hr>
      
      <h2 class="period-title">Before I started tracking</h2>
      
      <div class="book-list">
        <ul></ul>
      </div>
    </div>
  </div>
</main>
{% include footer.html %}
</body>
</html>
