---
layout: page.liquid
title: Contact
permalink: "/contact.html"
redirect_from: [
  "/contact/index.html",
]
---
<div class="contact-page">
  <p>
    This is a standing invitation: if we have common interests, I want to talk to you. Email works best for me and I
    prefer that over any social networks. I promise I'll read 100% of your emails and most probably reply to all of them.
  </p>
  <p>
    I love reading suggestions. If you see something on the internet worth discussing, send it over. Good content is
    priceless and I don't mind increasing my <a href="https://fs.blog/2013/06/the-antilibrary/">library of unread
    ideas</a>.
  </p>

  <section class="contact-section">
    <h2>Get in touch</h2>
    <dl class="contact-links">
      <dt>Email:</dt>
      <dd><a href="mailto:contact@varunbarad.com">contact@varunbarad.com</a></dd>

      <dt>GitHub:</dt>
      <dd><a href="https://github.com/VarunBarad">VarunBarad</a></dd>

      <dt>Twitter:</dt>
      <dd><a href="https://twitter.com/varun_barad">@varun_barad</a></dd>

      <dt>DEV Community:</dt>
      <dd><a href="https://dev.to/varunbarad">varunbarad</a></dd>

      <dt>StackOverflow:</dt>
      <dd><a href="https://stackoverflow.com/users/4717436/VarunBarad">VarunBarad</a></dd>
    </dl>
  </section>

  <p>
    I love making friends. If you are interested in talking, then let's have a chat sometime.
  </p>

  <p class="contact-attribution">
    Note: This page was inspired by (and mostly copied from) <a href="https://dellacorte.me/about">Andrea Della
    Corte's Standing Invitation</a>
  </p>
</div>
