---
layout: simple-page.liquid
title: Contact
permalink: "/contact.html"
redirect_from: [
  "/contact/index.html",
]
---
<p>
  This is a standing invitation: if we have common interests, I want to talk to you. Email works best for me and I
  prefer that over any social networks. I promise I'll read 100% of your emails and most probably reply to all of them.
  I love making friends. If you are interested in talking, then let's have a chat sometime.
</p>
<p>
  I also love reading suggestions. If you see something on the internet worth discussing, send it over. Good content is
  priceless and I don't mind increasing my <a href="https://fs.blog/2013/06/the-antilibrary/">library of unread
  ideas</a>.
</p>

<h2>Get in touch</h2>
<dl>
  <dt>Email (best way):</dt>
  <dd><a href="mailto:contact@varunbarad.com">contact@varunbarad.com</a></dd>

  <dt>GitHub:</dt>
  <dd><a href="https://github.com/VarunBarad">VarunBarad</a></dd>

  <dt>Mastodon:</dt>
  <dd><a href="https://hachyderm.io/@VarunBarad">@VarunBarad@hachyderm.io</a></dd>

  <dt>Bluesky:</dt>
  <dd><a href="https://bsky.app/profile/varunbarad.com">@varunbarad.com</a></dd>

  <dt>Twitter:</dt>
  <dd><a href="https://twitter.com/varun_barad">@varun_barad</a></dd>
</dl>

<hr />

<blockquote>
  <p>
    Note: This page was inspired by (and mostly copied from) <a href="https://dellacorte.me/about">Andrea Della Corte's
    Standing Invitation</a>
  </p>
</blockquote>
