---
permalink: "/contact-new/"
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" type="image/png" href="/favicon.png"/>
  <title>Ideas - Varun Barad</title>
  <meta name="description" content="{{site.description}}"/>
  
  <!-- RSS Feed meta-data -->
  {% feed_meta %}
  
  <!-- Twitter meta-data -->
  <meta name="twitter:site" content="@{{site.twitter_username}}"/>
  <meta name="twitter:image:src" content="{{site.url}}/assets/images/logo-hd.png"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="{{site.title}}"/>
  <meta name="twitter:description" content="{{site.description}}"/>
  
  <!-- Open-Graph meta-data -->
  <meta property="og:site_name" content="{{site.title}}"/>
  <meta property="og:image" content="{{site.url}}/assets/images/logo-hd.png"/>
  <meta property="og:type" content="object"/>
  <meta property="og:title" content="{{site.title}}"/>
  <meta property="og:url" content="{{site.url}}{{page.url}}"/>
  <meta property="og:description" content="{{site.description}}"/>
  
  <!-- Styles kept here for now -->
  {% include new_styles.html %}
</head>
<body>
{% include new_header.html %}

{% assign contactDetails = site.data.personal.contact %}
<main>
  <h1>Contact</h1>
  
  <div>
    <p>
      This is a standing invitation: if we have common interests, I want to talk to you. Email works best for me and I
      prefer that over any social networks. I promise I'll read 100% of your emails and most probably reply to all of
      them.
    </p>
    <p>
      I love reading suggestions. If you see something on the internet worth discussing, send it over. Good content is
      priceless and I don't mind increasing my <a href="https://fs.blog/2013/06/the-antilibrary/">library of unread
      ideas</a>.
    </p>
    
    <ul>
      <li>Email: <a href="mailto:{{contactDetails.email}}">{{contactDetails.email}}</a></li>
      <li>GitHub: <a href="https://github.com/VarunBarad">VarunBarad</a></li>
      <li>Twitter: <a href="https://twitter.com/varun_barad">@varun_barad</a></li>
      <li>DEV Community: <a href="https://dev.to/varunbarad">varunbarad</a></li>
      <li>StackOverflow: <a href="https://stackoverflow.com/users/4717436/VarunBarad">VarunBarad</a></li>
    </ul>
    
    <p>
      I love making friends. If you are interested in talking, then let's have a chat sometime.
    </p>
    
    <p>
      Note: This page was inspired by (and mostly copied from) <a href="https://dellacorte.me/invitation">Andrea Della Corte's Standing Invitation</a>.
    </p>
  </div>
</main>
{% include new_footer.html %}
</body>
</html>
