---
permalink: "/movies.html"
redirect_from:
- "/movies/index.html"
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" type="image/png" href="/favicon.png"/>
  <title>Books - Varun Barad</title>
  <meta name="description" content="{{site.description}}"/>
  
  <!-- RSS Feed meta-data -->
  {% feed_meta %}
  
  <!-- Twitter meta-data -->
  <meta name="twitter:site" content="@{{site.twitter_username}}"/>
  <meta name="twitter:image:src" content="{{site.url}}/assets/images/logo-hd.png"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="{{site.title}}"/>
  <meta name="twitter:description" content="{{site.description}}"/>
  
  <!-- Open-Graph meta-data -->
  <meta property="og:site_name" content="{{site.title}}"/>
  <meta property="og:image" content="{{site.url}}/assets/images/logo-hd.png"/>
  <meta property="og:type" content="object"/>
  <meta property="og:title" content="{{site.title}}"/>
  <meta property="og:url" content="{{site.url}}{{page.url}}"/>
  <meta property="og:description" content="{{site.description}}"/>
  
  <!-- Styles kept here for now -->
  {% include new_styles.html %}
</head>
<body>
{% include header.html %}
<main>
  <h1>Movies</h1>
  
  <p>
    Here is a list of movies I have watched. You can find out about the grading rubric <a
      href="/blog/movie-rating-system">here</a>.
  </p>
  
  <div class="periods-wrapper">
    <div class="period">
      <h2 class="period-title">Currently watching</h2>
      
      <div class="movie-list">
        <ul>
          <li>2001: A Space Odyssey (1968)</li>
        </ul>
      </div>
    </div>
    
    <div class="period">
      <hr>
      
      <h2 class="period-title">🎖️ 5/5</h2>
      
      <div class="book-list">
        <ul>
          <li>12th Fail (2023)</li>
        </ul>
      </div>
    </div>
    
    <div class="period">
      <hr>
      
      <h2 class="period-title">👌 4/5</h2>
      
      <div class="book-list">
        <ul>
          <li>Hanu-Man (2024)</li>
        </ul>
      </div>
    </div>
  </div>
</main>
{% include footer.html %}
</body>
</html>
