---
permalink: "/projects/"
redirect_from:
- "/portfolio.html"
- "/portfolio/index.html"
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" type="image/png" href="/favicon.png"/>
  <title>Projects - Varun Barad</title>
  <meta name="description" content="{{site.description}}"/>
  
  <!-- RSS Feed meta-data -->
  {% feed_meta %}
  
  <!-- Twitter meta-data -->
  <meta name="twitter:site" content="@{{site.twitter_username}}"/>
  <meta name="twitter:image:src" content="{{site.url}}/assets/images/logo-hd.png"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="{{site.title}}"/>
  <meta name="twitter:description" content="{{site.description}}"/>
  
  <!-- Open-Graph meta-data -->
  <meta property="og:site_name" content="{{site.title}}"/>
  <meta property="og:image" content="{{site.url}}/assets/images/logo-hd.png"/>
  <meta property="og:type" content="object"/>
  <meta property="og:title" content="{{site.title}}"/>
  <meta property="og:url" content="{{site.url}}{{page.url}}"/>
  <meta property="og:description" content="{{site.description}}"/>
  
  <!-- Styles kept here for now -->
  {% include new_styles.html %}
</head>
<body>
{% include new_header.html %}
<main>
  <h1>Projects</h1>
  
  <div>
    <p>
      I like to use free time to create fun stuff or useful things, mainly for myself, but I share them too. They might
      not even have any practical purpose.
    </p>
    <p>
      This page lists some of my projects, so you can get an idea of what I've been up to:
    </p>
  </div>
  
  <div class="project-wrapper">
    <div class="project">
      <hr>
      
      <h2 class="project-title">Contacts Calendar</h2>
      
      <div class="project-description">
        <p>
          A website which lets you export a calendar of important dates from your Google Contacts. I built this as a
          side-project to learn the basics of using Spring Boot framework.
        </p>
        <ul>
          <li><a href="https://contacts-calendar.varunbarad.com">Website</a></li>
          <li><a href="https://github.com/VarunBarad/contacts-calendar">Source code</a></li>
        </ul>
      </div>
    </div>
    
    <div class="project">
      <hr>
      
      <h2 class="project-title">Trust Invitation</h2>
      
      <div class="project-description">
        <p>
          A website built so that I can have good conversation sparkers easily accessible at all times.
        </p>
        <ul>
          <li><a href="https://trust.varunbarad.com">Website</a></li>
          <li><a href="https://github.com/VarunBarad/trust-invitation">Source code</a></li>
        </ul>
      </div>
    </div>
    
    <div class="project">
      <hr>
      
      <h2 class="project-title">Improvement Roll</h2>
      
      <div class="project-description">
        <p>
          I built this website to learn about PWA basics and also so that it could suggest me useful things to do
          instead of infinitely scrolling the social media.
        </p>
        <ul>
          <li><a href="https://improvement-roll.varunbarad.com">Website</a></li>
          <li><a href="https://github.com/VarunBarad/improvement-roll">Source code</a></li>
        </ul>
      </div>
    </div>
  
    <div class="project">
      <hr>
      
      <h2 class="project-title">My Places</h2>
    
      <div class="project-description">
        <p>
          An application which helps me record locations which I want to save and keep track of.
        </p>
        <ul>
          <li><a href="https://play.google.com/store/apps/details?id=com.varunbarad.myplaces">App on Play
            Store</a></li>
          <li><a href="https://github.com/VarunBarad/my-places-android/">Source code</a></li>
        </ul>
      </div>
    </div>
  
    <div class="project">
      <hr>
      
      <h2 class="project-title">To-Read Manager</h2>
    
      <div class="project-description">
        <p>
          I have built this app to let me manage my to-read links at one place on my phone. I can share tweets, webpages
          or anything else to the app and then later open it from there.
        </p>
        <ul>
          <li><a href="https://play.google.com/store/apps/details?id=com.varunbarad.toreadmanager">App on
            Play Store</a></li>
          <li><a href="https://github.com/VarunBarad/to-read-manager-android/">Source code</a></li>
        </ul>
      </div>
    </div>
  
    <div class="project">
      <hr>
      
      <h2 class="project-title">Attendance Tracker</h2>
    
      <div class="project-description">
        <p>
          I made this as my Capstone Project for Udacity's Android Nanodegree. This was my chance to assimilate everything
          I learned during the Nanodegree and make something useful with it. During college, we found it cumbersome to
          track our attendance in various classes. That was the origin for this app. I made it so that there is a
          streamlined way for students to keep track of their attendance.
        </p>
        <ul>
          <li><a href="https://play.google.com/store/apps/details?id=com.varunbarad.attendancetracker">App
            on Play Store</a></li>
          <li><a href="https://github.com/VarunBarad/Attendance-Tracker/">Source code</a></li>
        </ul>
      </div>
    </div>
  
    <div class="project">
      <hr>
      
      <h2 class="project-title">Udaan Android App</h2>
    
      <div class="project-description">
        <p>
          Udaan is the annual tech-fest of BVM Engineering College. The Development Team of Udaan has seen to all the IT
          related needs of the festival, including but no limited to making a companion website along with native apps for
          both Android & Windows platforms. We have been doing it every year since 2015.
        </p>
        <ul>
          <li><a href="https://github.com/bvmites/udaan17-android-app/">Source code</a></li>
        </ul>
      </div>
    </div>
  
    <div class="project">
      <hr>
      
      <h2 class="project-title">Udaan-16 SMS Web App</h2>
    
      <div class="project-description">
        <p>
          This was a web-app made by Team Udaan for Udaan-16. Event managers could use this to send SMS to all their
          participants, who had qualified for next round, about the time and location of next round. I was the one who
          wired the UI created by my team-mates with the API using JavaScript.
        </p>
        <ul>
          <li><a href="https://github.com/bvmites/udaan16-sms-web-app/">Source code</a></li>
        </ul>
      </div>
    </div>
  
    <div class="project">
      <hr>
      
      <h2 class="project-title">Pop Movies</h2>
    
      <div class="project-description">
        <p>
          I made this project as part of my coursework for Udacity's Android Nanodegree. This taught me the use of REST
          APIs, loading images from network and local data persistence in an Android application.
        </p>
        <ul>
          <li><a href="https://github.com/VarunBarad/PopularMovies/">Source code</a></li>
        </ul>
      </div>
    </div>
  
    <div class="project">
      <hr>
      
      <h2 class="project-title">Droid Bakery</h2>
    
      <div class="project-description">
        <p>
          I made this project as part of my coursework for Udacity's Android Nanodegree. This taught me how to play videos
          on Android from network using a famous library named ExoPlayer.
        </p>
        <ul>
          <li><a href="https://github.com/VarunBarad/BakingApp/">Source code</a></li>
        </ul>
      </div>
    </div>
  
    <div class="project">
      <hr>
      
      <h2 class="project-title">Crawded</h2>
    
      <div class="project-description">
        <p>
          Worked a paid internship at Crawded which was an education startup focused on building a platform where students
          can interact with other students and teachers but the interaction remains related only to knowledge sharing. A
          vast number of features in the original SchoolWeb application were made by me, and I was responsible for
          developing the initial "Feed" in their main application.
        </p>
        <p>
          The company has since shut-down and there are no public links available to that work.
        </p>
      </div>
    </div>
  
    <div class="project">
      <hr>
      
      <h2 class="project-title">DPTK Contacts</h2>
    
      <div class="project-description">
        <p>
          A stockbroking and wealth management firm required an application which helped them to provide up-to-date
          contact information of each of their offices and employees both to their employees and their customers. So I
          made a desktop application using Kotlin which would parse data provided by them in Excel files and upload it to
          Firebase, from where it would be pulled down by the Android application for their use.
        </p>
        <p>
          Sadly this project never reached finishing point and was thus never published.
        </p>
        <ul>
          <li><a href="https://github.com/VarunBarad/dptk-contacts-app/">Source code (Android App)</a>
          </li>
          <li><a href="https://github.com/VarunBarad/dptk-contacts-uploader/">Source code (Desktop
            Uploader)</a></li>
        </ul>
      </div>
    </div>
  
    <div class="project">
      <hr>
      
      <h2 class="project-title">Wallpaper Changer</h2>
    
      <div class="project-description">
        <p>
          I got bored with seeing the same wallpaper and Gnome (the DE I was using) didn't have any inbuilt feature to
          cycle between wallpapers. So I decided to use this opportunity to try and dip my hands in Kotlin.
        </p>
        <p>
          Though these days I am thinking of building versions of this in Rust that work on Mac and Windows. No reason
          other than just to get more experience with Rust and to have fun.
        </p>
        <ul>
          <li><a href="https://github.com/VarunBarad/wallpaper-changer/">Source code</a></li>
        </ul>
      </div>
    </div>
  
    <div class="project">
      <hr>
      
      <h2 class="project-title">Digital Joker</h2>
    
      <div class="project-description">
        <p>
          I made this project as part of my coursework for Udacity's Android Nanodegree. This taught me to use Gradle to
          create separate free and paid versions of an app, and including different features based on whether the app is
          free or paid. It also taught me how to separate an app into different modules for better code reuse.
        </p>
        <ul>
          <li><a href="https://github.com/VarunBarad/Digital-Joker/">Source code</a></li>
        </ul>
      </div>
    </div>
  
    <div class="project">
      <hr>
      
      <h2 class="project-title">VegGKart</h2>
    
      <div class="project-description">
        <p>
          A friend of mine was approached for making an Android application for an already existing grocery shopping site.
          He built an HTTP API and called me in to develop the Android app which uses that API.
        </p>
        <ul>
          <li><a href="https://github.com/VarunBarad/veggkart/">Source code</a></li>
        </ul>
      </div>
    </div>
  </div>
  
  <p>
    You can find all my open-source projects on <a href="https://github.com/VarunBarad" rel="me">my GitHub account</a>.
  </p>
</main>
{% include new_footer.html %}
</body>
</html>
