---
permalink: "/resume/"
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" type="image/png" href="/favicon.png"/>
  <title>Resume - Varun Barad</title>
  <meta name="description" content="{{site.description}}"/>
  
  <!-- RSS Feed meta-data -->
  {% feed_meta %}
  
  <!-- Twitter meta-data -->
  <meta name="twitter:site" content="@{{site.twitter_username}}"/>
  <meta name="twitter:image:src" content="{{site.url}}/assets/images/logo-hd.png"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="{{site.title}}"/>
  <meta name="twitter:description" content="{{site.description}}"/>
  
  <!-- Open-Graph meta-data -->
  <meta property="og:site_name" content="{{site.title}}"/>
  <meta property="og:image" content="{{site.url}}/assets/images/logo-hd.png"/>
  <meta property="og:type" content="object"/>
  <meta property="og:title" content="{{site.title}}"/>
  <meta property="og:url" content="{{site.url}}{{page.url}}"/>
  <meta property="og:description" content="{{site.description}}"/>
  
  <!-- Styles kept here for now -->
  {% include new_styles.html %}
</head>
<body>
{% include new_header.html %}

<main>
  <h1>Resume</h1>
  
  <div>
    <h2>Overview</h2>
    <p>
      Curious developer with 5+ years of experience architecting, developing and deploying various software. Recognized
      for exception auto-didactic nature and being a tenacious problem-solver.
    </p>
  </div>
  
  <div>
    <h2>Skills & Abilities</h2>
    <ul>
      <li>
        Built and maintained a backend service (for around 3 years) for a product with more than 5000 active users.
      </li>
      <li>
        Built and contributed to 11 published apps on the Play Store. Worked on many other apps from their design to
        device phases.
      </li>
      <li>
        Comfortable working with: Kotlin, Java, REST, JSON, Unit and Integration testing, Continuous Integration, Git,
        Software Architecture (MVP, MVVM), Android Architecture Components, Room, RxJava, Analytics, Firebase,
        Dependency Injection, Custom Views etc.
      </li>
      <li>
        Setup an Internet accessible instance of Apache and Tomcat on laptop from home network.
      </li>
      <li>
        Mentored a budding developer while we built a companion application for an event.
      </li>
    </ul>
  </div>
  
  <div>
    <h2>Experience</h2>
    
    <h3>Product Engineer - Remote | <a href="https://obvious.in">Obvious</a> | 04/2020 - Ongoing</h3>
    <ul>
      <li>
        Worked in multiple teams on different projects spanning from building android & flutter apps to the complete
        backend system of Pause
      </li>
      <li>
        Worked in a range of team sizes to build Pause, from sizes of 2 engineers to 6 engineers
      </li>
      <li>
        Got promoted to being the senior developer on Pause after a year
      </li>
      <li>
        Built the API to be used from web-app, then built integrations with Slack & Google Calendar and also integrated
        the payment flow which handled payments in multiple currencies using Stripe
      </li>
      <li>
        <a href="https://getpause.com">Pause Website</a>
      </li>
    </ul>
    
    <h3>Android Developer - Remote | <a href="https://www.deliverr.ca/">Deliverr</a> | 05/2018 - 05/2019</h3>
    <ul>
      <li>
        Worked in a team of 2 Android developers on building 3 apps, two for customers and 1 for internal management
      </li>
      <li>
        Handled the complete Android development workload of the company for 2 months while my senior was on a vacation
      </li>
      <li>
        Integrated social-login and live order-update via Firebase to improve customer experience
      </li>
      <li>
        Handled a redesign of the whole app to allow item-customisation and improve user-experience
      </li>
      <li>
        <a href="https://play.google.com/store/apps/developer?id=Deliverr+Delivery+Services+Inc.">
          Deliverr on Play Store
        </a>
      </li>
    </ul>
    
    <h3>Android Developer | Crawded Technologies Pvt. Ltd. | 01/2015 - 06/2015</h3>
    <ul>
      <li>
        Played a pivotal role in development of the first versions of Android application for their SchoolWeb and
        Crawded platforms
      </li>
    </ul>
    
    <h3>Android Developer | Udaan Dev Team | 2015 - 2017 | Volunteer</h3>
    <ul>
      <li>
        Created companion Android application for Udaan (our college’s tech-fest) for 3 years by working alongside a
        team of 8 other peers to work through the design to deployment phases
      </li>
      <li>
        Mentored a budding Android developer through the phases of designing to publishing to Play Store
      </li>
    </ul>
  </div>
  
  <div>
    <h2>Education</h2>
    <ul>
      <li>
        Bachelor of Engineering (Computer Science) | <a href="https://bvmengineering.ac.in">Birla Vishvakarma
        Mahavidyalaya Engineering College</a> | (2013 - 2017)
      </li>
    </ul>
  </div>
  
  <div>
    <h2>Other Projects</h2>
    <ul>
      <li>
        <strong>Contacts Calendar:</strong> A website which lets you export a calendar of important dates from your
        Google Contacts. I built this to learn the basics of using Spring Boot framework. (<a
          href="https://contacts-calendar.varunbarad.com">Website</a> |
        <a href="https://github.com/VarunBarad/contacts-calendar">GitHub</a>)
      </li>
      <li>
        <strong>Trust Invitation:</strong> A website built so that I can have good conversation sparkers easily
        accessible at all times. (<a href="https://trust.varunbarad.com">Website</a> |
        <a href="https://github.com/VarunBarad/trust-invitation">GitHub</a>)
      </li>
      <li>
        <strong>Improvement Roll:</strong> I built this website to learn about PWA basics and also so that it could
        suggest me useful things to do instead of infinitely scrolling the social media. (<a
          href="https://improvement-roll.varunbarad.com">Website</a> |
        <a href="https://github.com/VarunBarad/improvement-roll">GitHub</a>)
      </li>
      <li>
        <strong>To-Read Manager:</strong> This app to helps me manage my to-read links at one place on my phone. I can
        share tweets, webpages or anything else and then later open it from the app. (
        <a href="https://github.com/VarunBarad/to-read-manager-android">GitHub</a> |
        <a href="https://play.google.com/store/apps/details?id=com.varunbarad.toreadmanager">Play Store</a>)
      </li>
      <li>
        <strong>My Places:</strong> This is an application which helps me record locations which I want to save and keep
        track of. (<a href="https://github.com/VarunBarad/my-places-android">GitHub</a> |
        <a href="https://play.google.com/store/apps/details?id=com.varunbarad.myplaces">Play Store</a>)
      </li>
      <li>
        <strong>Git Single File Backup:</strong> A python script which bundles an existing git repository from your machine into a single zip file including even your stashed changes(they are not included in default bundle). (<a
          href="https://varunbarad.com/tools/2019/03/03/git-repository-single-file-backup.html">Article</a> |
        <a href="https://gist.github.com/VarunBarad/c291e98dd426b0da1322171290d7bbd0">Code</a>)
      </li>
    </ul>
  </div>
  
  <div>
    <h2>Other Certifications</h2>
    <ul>
      <li>
        Android Developer Nanodegree | Udacity (<a href="https://confirm.udacity.com/PGPG9AU9">Certificate</a>)
      </li>
      <li>
        Back End Development and APIs | freeCodeCamp (<a
          href="https://www.freecodecamp.org/certification/varunbarad/back-end-development-and-apis">Certificate</a>)
      </li>
      <li>
        JavaScript Algorithms and Data Structures | freeCodeCamp (<a
        href="https://www.freecodecamp.org/certification/varunbarad/javascript-algorithms-and-data-structures">
        Certificate</a>)
      </li>
      <li>
        Responsive Web Design | freeCodeCamp (<a
        href="https://www.freecodecamp.org/certification/varunbarad/responsive-web-design">Certificate</a>)
      </li>
    </ul>
  </div>
  
  <div>
    <h2>Some of my articles</h2>
    <ul>
      <li>Cheatsheet - PostgreSQL (<a href="https://varunbarad.com/blog/cheatsheet-postgresql">link</a>)</li>
      <li>Why you should own your email address? (<a href="https://varunbarad.com/blog/why-you-should-own-your-email-address">link</a>)</li>
      <li>How to add "latest" post redirect to a jekyll site (<a href="https://varunbarad.com/blog/how-to-add-latest-post-redirect-to-jekyll-site">link</a>)</li>
      <li>Switching RxJava schedulers between app code and corresponding tests (<a href="https://varunbarad.com/blog/switching-rxjava-schedulers-between-app-code-and-corresponding-tests">link</a>)</li>
    </ul>
  </div>
  
  <div>
    <hr>
    <p>
      You can also download a PDF version of this resume from <a href="/assets/documents/Resume - Varun Barad.pdf">here</a>.
    </p>
  </div>
</main>
{% include new_footer.html %}
</body>
</html>
