---
permalink: "/resume/"
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" type="image/png" href="/favicon.png"/>
  <title>Resume - Varun Barad</title>
  <meta name="description" content="{{site.description}}"/>
  
  <!-- RSS Feed meta-data -->
  {% feed_meta %}
  
  <!-- Twitter meta-data -->
  <meta name="twitter:site" content="@{{site.twitter_username}}"/>
  <meta name="twitter:image:src" content="{{site.url}}/assets/images/logo-hd.png"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="{{site.title}}"/>
  <meta name="twitter:description" content="{{site.description}}"/>
  
  <!-- Open-Graph meta-data -->
  <meta property="og:site_name" content="{{site.title}}"/>
  <meta property="og:image" content="{{site.url}}/assets/images/logo-hd.png"/>
  <meta property="og:type" content="object"/>
  <meta property="og:title" content="{{site.title}}"/>
  <meta property="og:url" content="{{site.url}}{{page.url}}"/>
  <meta property="og:description" content="{{site.description}}"/>
  
  <!-- Styles kept here for now -->
  {% include new_styles.html %}
</head>
<body>
{% include header.html %}

<main>
  <h1>Resume</h1>
  
  <div>
    <h2>Overview</h2>
    <p>
      Curious developer with 5+ years of experience architecting, developing, deploying and maintaining various pieces
      of software. Recognized for exceptional auto-didactic nature and being a tenacious problem-solver.
    </p>
  </div>
  
  <div>
    <h2>Skills & Abilities</h2>
    <ul>
      <li>
        Built and maintained a backend service in Kotlin (for around 3 years) for a product with more than 5000 active
        users.
      </li>
      <li>
        Built and contributed to 11 published apps (both in Kotlin and Java) on the Play Store. Worked on many other
        apps from their design to device phases.
      </li>
      <li>
        Comfortable working with: Creating and consuming APIs (including integrations with other services), Unit &amp;
        Integration testing, Continuous Integration, Software Architecture, Payments Integration, Git, Python, NodeJS.
      </li>
      <li>
        Mentored multiple developers over the years both as a mobile and a backend engineer to develop their own vision
        towards a better craft approach.
      </li>
    </ul>
  </div>
  
  <div>
    <h2>Experience</h2>
    
    <h3>Product Engineer (Backend) - Remote | <a href="https://obvious.in">Obvious</a> | 08/2020 - Ongoing</h3>
    <ul>
      <li>
        Develop Obvious' first product - Pause (<a href="https://getpause.com">https://getpause.com</a>)
      </li>
      <li>
        Partnered with product and design teams to understand their requirements and vision for the software
      </li>
      <li>
        Constructed the architecture of the backend system consisting of PostgreSQL as database and a Kotlin codebase
        for REST API and integrations with third-party services
        <ul>
          <li>Developed the REST API to be used from the web-app</li>
          <li>Built the integrations with Slack and Google Calendar</li>
          <li>Integrated multi-currency payment flow using Stripe</li>
        </ul>
      </li>
      <li>
        Lead the backend team and eventually the whole engineering team of Pause
      </li>
      <li>
        Wrote support documentation in form of how-to guides for various tasks in Pause
      </li>
      <li>
        Provided support to customers by both directly replying to their questions and by working on concerns brought up
        by the support team
      </li>
      <li>
        Ongoing maintenance in forms of debugging and fixing any discovered bugs in the backend system
      </li>
    </ul>
    
    <h3>Product Engineer (Mobile) - Remote | <a href="https://obvious.in">Obvious</a> | 04/2020 - 07/2020</h3>
    <ul>
      <li>
        Developed MVP of an Android application for a fintech client project in collaboration with team members
      </li>
      <li>
        Architect the structure of the application and its code organization
      </li>
      <li>
        Communicate with client team and design team ton understand their requirements
      </li>
      <li>
        Wrote the code for their periodic SMS sync feature on Android
      </li>
    </ul>
    
    <h3>Android Developer - Remote | <a href="https://deliverr.ca/">Deliverr</a> | 05/2018 - 05/2019</h3>
    <ul>
      <li>
        Developed Customer, Driver and Store-Manager Android applications for Deliverr platform
        (<a href="https://deliverr.ca">https://deliverr.ca</a>)
      </li>
      <li>
        Worked with one other engineer to add new features to the existing Customer and Driver applications
      </li>
      <li>
        Architect and code the redesign of customer app to allow item-customisation and improve user-experience
      </li>
      <li>
        Integrate existing applications with Firebase to add support for social-login via Google accounts
      </li>
    </ul>
    
    <h3>Android Developer | Crawded Technologies Pvt. Ltd. | 01/2015 - 06/2015</h3>
    <ul>
      <li>
        Developed the MVP of their SchoolWeb and Crawded platforms' Android applications in a team of engineers
      </li>
      <li>
        Architected and coded the home-page feed in their Android applications
      </li>
    </ul>
    
    <h3>Android Developer | Udaan Dev Team | 2015 - 2017 | Volunteer</h3>
    <ul>
      <li>
        Created companion Android application for Udaan (our college’s tech-fest) for 3 years by working alongside a
        team of 8 other peers to work through the design to deployment phases
      </li>
      <li>
        Mentored a budding Android developer through the phases of designing to publishing to Play Store
      </li>
    </ul>
  </div>
  
  <div>
    <h2>Education</h2>
    <ul>
      <li>
        Bachelor of Engineering (Computer Science) | <a href="https://bvmengineering.ac.in">Birla Vishvakarma
        Mahavidyalaya Engineering College</a> | (2013 - 2017)
      </li>
    </ul>
  </div>
  
  <div>
    <h2>Other Projects</h2>
    <ul>
      <li>
        <strong>Typractice:</strong> A tracker-free and ad-free website where you can practice typing. (<a
          href="https://typractice.varunbarad.com">Website</a> | <a
          href="https://github.com/VarunBarad/typractice">GitHub</a>)
      </li>
      <li>
        <strong>Contacts Calendar:</strong> Website to export a calendar of birthdays from your Google Contacts. (<a
          href="https://contacts-calendar.varunbarad.com">Website</a> |
        <a href="https://github.com/VarunBarad/contacts-calendar">GitHub</a>)
      </li>
      <li>
        <strong>Improvement Roll:</strong> A website suggesting useful things to do in short breaks. (<a
          href="https://improvement-roll.varunbarad.com">Website</a> |
        <a href="https://github.com/VarunBarad/improvement-roll">GitHub</a>)
      </li>
      <li>
        <strong>To-Read Manager:</strong> This app helps me manage my to-read links at one place on my phone without
        sharing it with any third-party. (<a href="https://github.com/VarunBarad/to-read-manager-android">GitHub</a> |
        <a href="https://play.google.com/store/apps/details?id=com.varunbarad.toreadmanager">Play Store</a>)
      </li>
      <li>
        <strong>My Places:</strong> This is an application which helps me record locations which I want to save and keep
        track of. (<a href="https://github.com/VarunBarad/my-places-android">GitHub</a> |
        <a href="https://play.google.com/store/apps/details?id=com.varunbarad.myplaces">Play Store</a>)
      </li>
    </ul>
  </div>
  
  <div>
    <h2>Some of my writing (<a href="https://varunbarad.com/blog">link to my blog</a>)</h2>
    <ul>
      <li>Taking a heap-dump from a running JVM process (<a href="https://varunbarad.com/blog/til-heap-dump-from-jvm">link</a>)</li>
      <li>Cheatsheet - PostgreSQL (<a href="https://varunbarad.com/blog/cheatsheet-postgresql">link</a>)</li>
      <li>Switching RxJava schedulers between app code and corresponding tests (<a href="https://varunbarad.com/blog/switching-rxjava-schedulers-between-app-code-and-corresponding-tests">link</a>)</li>
      <li>Why you should own your email address? (<a href="https://varunbarad.com/blog/why-you-should-own-your-email-address">link</a>)</li>
    </ul>
  </div>
  
  <div>
    <h2>Other Certifications</h2>
    <ul>
      <li>
        Android Developer Nanodegree | Udacity (<a href="https://confirm.udacity.com/PGPG9AU9">Certificate</a>)
      </li>
      <li>
        Back End Development and APIs | freeCodeCamp (<a
          href="https://www.freecodecamp.org/certification/varunbarad/back-end-development-and-apis">Certificate</a>)
      </li>
      <li>
        JavaScript Algorithms and Data Structures | freeCodeCamp (<a
        href="https://www.freecodecamp.org/certification/varunbarad/javascript-algorithms-and-data-structures">
        Certificate</a>)
      </li>
      <li>
        Responsive Web Design | freeCodeCamp (<a
        href="https://www.freecodecamp.org/certification/varunbarad/responsive-web-design">Certificate</a>)
      </li>
    </ul>
  </div>
  
  <div>
    <hr>
    <p>
      You can also download a PDF version of this resume from <a href="/assets/documents/Resume - Varun Barad.pdf">here</a>.
    </p>
  </div>
</main>
{% include footer.html %}
</body>
</html>
