<footer>
    <!-- Core -> Blog, Now, Contact, Resume, Wishlist -->
    <div class="footer-group">
        <h4>Core</h4>
        <ul>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/resume">Resume</a></li>
        </ul>
    </div>
    <!-- Creation -> Projects, Ideas, Uses, Changelog, Feeds, Colophon -->
    <div class="footer-group">
        <h4>Creation</h4>
        <ul>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/ideas">Ideas</a></li>
        </ul>
    </div>
    <!-- Consumption -> Books, Movies, Games, Recipes, Blogroll, Postroll -->
    <div class="footer-group">
        <h4>Consumption</h4>
        <ul>
            <li><a href="/books">Books</a></li>
            <li><a href="/category/movies.html">Movies</a></li>
            <li><a href="/category/video-games.html">Games</a></li>
            <li><a href="/category/recipe">Recipes</a></li>
        </ul>
    </div>
</footer>
