<header>
    <a href="/">Varun Barad</a>
    <nav>
        <!-- Blog, Projects, Now, Contact, Postroll, Feeds -->
        {% if page.url == "/blog" %}<span>Blog</span>{% else %}<a href="/blog">Blog</a>{% endif %}
        {% if page.url == "/projects" %}<span>Projects</span>{% else %}<a href="/projects">Projects</a>{% endif %}
        {% if page.url == "/books" %}<span>Books</span>{% else %}<a href="/books">Books</a>{% endif %}
        {% if page.url == "/ideas" %}<span>Ideas</span>{% else %}<a href="/ideas">Ideas</a>{% endif %}
        {% if page.url == "/contact" %}<span>Contact</span>{% else %}<a href="/contact">Contact</a>{% endif %}
        {% if page.url == "/resume" %}<span>Resume</span>{% else %}<a href="/resume">Resume</a>{% endif %}
    </nav>
</header>
