---
---

@import "bootstrap";
@import "{{ site.theme }}";

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.menu {
  background: transparent !important;
  max-width: unset !important;
  margin: 0 auto !important;
  a {
    margin: 0 8px;
    font-size: 1.2em;
  }
}

#header {
  ul {
    margin: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  height: 100%;
  .title {
    text-transform: uppercase;
    font-size: 1.3em;
    padding-left: 1em;
    font-weight: bold;
  }
}

.page-title {
  font-size: 2em;
  text-decoration: underline;
  font-weight: bold;
}

.content {
  margin-top: 80px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 25px;
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    .name {
      font-size: 2.8em;
    }
    .tag-line {
      font-size: 1.8em;
    }
    .about {
      font-size: 1.1em;
      padding: 10px;
    }
  }
  .portfolio {
    padding: 2em;
    width: 100%;
    .project {
      padding: 0.8em 2em;

    }
    .project-description {
      padding: 10px 0;
      font-size: 1.1em;
    }
    .project-details {
      display: flex;
      justify-content: space-evenly;
      font-size: 0.9em;
      margin: 4px;
    }
    .card {
      border: none;
      border-radius: 0;
      background-color: #353535;
      .card-img-top {
        border-radius: 0;
      }
      .card-title {
        text-align: center;
        font-size: 1.4em;
        font-weight: bold;
        margin: 0.70em 0;
      }
    }
    .modal-dialog {
      .modal-content {
        background-color: #353535;
        .modal-header {
          font-size: 1.4em;
          font-weight: bold;
          border-bottom-color: transparent;
          text-align: center;
          .modal-title {
            width: 100%;
            font-size: 1.2em;
            padding-bottom: 10px;
            border-bottom: 1px solid;
          }
          span {
            color: white;
          }
        }
        .modal-footer {
          .categories {
            padding: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            a {
              margin: 0 8px;
            }
          }
        }
      }
    }
    .modal-image {
      width: 360px;
    }
  }
}

.categories {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 1.2em 1.2em 1.2em;
  a {
    margin: 8px 4px 0 0;
    font-size: 1em;
  }
}

.posts {
  padding-top: 2em;
  .post-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    .post {
      padding: 8px 16px 8px 16px;
      margin-bottom: 8px;
      p {
        margin: 0;
      }
    }
  }
}

.post-container {
  display: flex;
  justify-content: center;
  .post-date {
    opacity: 0.7;
  }
  .post-content {
    margin-top: 2em;
  }
  .post-categories-container {
    display: flex;
    > div {
      margin-left: 8px;
    }
  }
}

.contact-form {
  display: flex;
  justify-content: center;
  padding: 2em 0 0 1em;
  > div {
    background-color: #353535;
    padding: 24px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  .form-group {
    display: flex;
    justify-content: space-between;
    .form-control {
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #FFD000;
      background: transparent;
      color: white;
      outline: none;
      -webkit-box-shadow: none;
      &:focus {
        border-bottom-width: 2px;
        box-shadow: none;
      }
    }
    textarea {
      resize: none;
    }
  }
  .submit-button {
    background: transparent;
    border: 1px solid;
    color: #FFD000;
    padding: 8px 32px;
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    align-self: center;
    margin-top: 8px;
    &:hover, &:focus {
      background-color: #FFD000;
      color: #353535;
      outline: none;
    }
  }
}

.contact-details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 1.1em;
  padding-top: 32px;
}

.footer {
  padding: 10px;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  background: url(../images/nav-bg.gif) #353535;
  .social-links {
    font-size: 1.4em;
    padding: 0 8px;
  }
}

@media only screen and (max-width: 500px) {
  .btn-mod.btn-large {
    padding: 6px 16px;
    font-size: 11px;
  }

  .form-title {
    font-size: 20px;
  }
}

@media print, screen and (max-width: 480px) {
  #header {
    margin-top: 0 !important;
  }
  nav {
    display: block !important;
  }
}

@media print, screen and (max-width: 600px) {
  #header {
    height: 80px;
    text-align: center;
    nav {
      padding: 0;
    }
  }
  .page-title {
    margin-top: 16px;
  }
  .header .title {
    padding: 0;
  }
  .content {
    margin-top: 80px;
  }
  .menu {
    text-align: center !important;
  }
  .contact-form {
    padding-left: 0;
    padding-right: 0;
  }
}
