:root {
  --gray-lighter: light-dark(var(--gray-200), var(--gray-700));
  --gray-light: light-dark(var(--gray-300), var(--gray-600));
  --gray-medium: var(--gray-400);
  --gray-dark: light-dark(var(--gray-800), var(--gray-300));
  
  /* base theme */
  --color-lightest: var(--gray-100);
  --color-darkest: var(--gray-900);
  
  --accent-color: light-dark(var(--blue-300), var(--blue-400));
  --accent-color-hover: light-dark(var(--blue-400), var(--blue-200));
  --accent-color-active: light-dark(var(--blue-400), var(--blue-200));
  
  --text-color: light-dark(var(--color-darkest), var(--color-lightest));
  --text-color-inverted: light-dark(var(--color-lightest), var(--color-darkest));
  --link-color: var(--accent-color);
  --link-color-hover: var(--accent-color-hover);
  --icon-color: var(--text-color);
  --disabled-color: var(--gray-medium);
  --code-color: light-dark(#6a3e9a, #d7a8ff);
  
  --background-color: light-dark(var(--color-lightest), var(--color-darkest));
  --background-color-inverted: light-dark(var(--color-darkest), var(--color-lightest));
  
  /* borders */
  --border-default: 1px solid var(--accent-color);
  --border-default-hover: 1px solid var(--accent-color-hover);
  --border-gray: 1px solid var(--gray-light);
  
  /* fonts */
  --font-body: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
  --font-heading: "Space Grotesk", "Arial Black", "Arial Bold", Gadget, sans-serif;
  --font-code: Menlo, Consolas, Monaco, Adwaita Mono, Liberation Mono, Lucida Console, monospace;
  
  /* text */
  --font-size-xs: 0.7rem;
  --font-size-sm: 0.85rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.15rem;
  --font-size-xl: 1.3rem;
  --font-size-2xl: 1.45rem;
  --font-size-3xl: 1.6rem;
  
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  
  --line-height-sm: 1;
  --line-height-md: 1.5;
  --line-height-base: 2;
  
  --underline-offset-default: 3px;
  --underline-offset-hover: 5px;
  --button-offset-hover: 2px;
  
  /* sizing */
  --sizing-xs: 0.25rem;
  --sizing-sm: 0.5rem;
  --sizing-md: 0.75rem;
  --sizing-lg: 1rem;
  --sizing-base: 1.5rem;
  --sizing-xl: 1.75rem;
  --sizing-2xl: 2rem;
  --sizing-3xl: 2.25rem;
  --sizing-full: 100%;
  
  --sizing-svg-sm: 18px;
  --sizing-svg-base: 24px;
  --sizing-svg: var(--sizing-svg-base);
  
  /* spacing */
  --spacing-xs: var(--sizing-xs);
  --spacing-sm: var(--sizing-sm);
  --spacing-md: var(--sizing-md);
  --spacing-lg: var(--sizing-lg);
  --spacing-base: var(--sizing-base);
  --spacing-xl: var(--sizing-xl);
  --spacing-2xl: var(--sizing-2xl);
  --spacing-3xl: var(--sizing-3xl);
  
  --margin-vertical-base-horizontal-zero: var(--spacing-base) 0;
  
  /* radii */
  --border-radius-slight: var(--sizing-xs);
  --border-radius-full: 9999px;
  
  /* aspect ratios */
  --aspect-ratio-square: 1/1;
  --aspect-ratio-vertical: 2/3;
  --aspect-ratio-banner: 3/2;
  --aspect-ratio-video: 16/9;
  
  /* grid columns */
  --grid-columns-one: repeat(1, minmax(0, 1fr));
  --grid-columns-two: repeat(2, minmax(0, 1fr));
  --grid-columns-three: repeat(3, minmax(0, 1fr));
  --grid-columns-four: repeat(4, minmax(0, 1fr));
  --grid-columns-six: repeat(6, minmax(0, 1fr));
}
