<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="/favicon.png" />

  <title>Title of the new page</title>

  <link rel="stylesheet" href="../assets/css/main.out.css" />
  <link href="../assets/css/prism-theme/prism-darcula.css" rel="stylesheet"/>
</head>
<body>
<div class="font-sans prose mx-auto">
  {{ content }}
</div>
<div class="font-sans prose mx-auto">
  <p>
    Varun is typing some <code class="not-prose">inline-code</code> here.
  </p>
</div>
</body>
</html>
