<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" type="image/png" href="/favicon.png"/>
  <title>Blog (#{{ page.tag }}) - Varun Barad</title>
  <meta name="description" content="{{site.description}}"/>
  
  <!-- RSS Feed meta-data -->
  {% feed_meta %}
  
  <!-- Twitter meta-data -->
  <meta name="twitter:site" content="@{{site.twitter_username}}"/>
  <meta name="twitter:image:src" content="{{site.url}}/assets/images/logo-hd.png"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="{{site.title}}"/>
  <meta name="twitter:description" content="{{site.description}}"/>
  
  <!-- Open-Graph meta-data -->
  <meta property="og:site_name" content="{{site.title}}"/>
  <meta property="og:image" content="{{site.url}}/assets/images/logo-hd.png"/>
  <meta property="og:type" content="object"/>
  <meta property="og:title" content="{{site.title}}"/>
  <meta property="og:url" content="{{site.url}}{{page.url}}"/>
  <meta property="og:description" content="{{site.description}}"/>
  
  <!-- Styles kept here for now -->
  {% include new_styles.html %}
</head>
<body>
{% include header.html %}
<main>
  <h1>Blog (#{{ page.tag }})</h1>
  
  <div class="badge-list">
    {% for category in site.categories %}
    <a href="/category/{{category[0]}}" class="badge">#{{category[0]}}</a>
    {% endfor %}
    <a href="/blog" class="badge">#all</a>
  </div>
  
  {% assign postsByYear = site.categories[page.tag] | group_by_exp:"post", "post.date | date: '%Y'" %}
  <div class="periods-wrapper">
    {% for year in postsByYear %}
    <div class="period">
      <h2 class="period-title">{{ year.name }}</h2>
      
      <div class="post-list">
        {% for post in year.items %}
        
        {% comment %}
        {% raw %}
        Remove .html from the end of post urls
        {% endraw %}
        {% endcomment %}
        {% assign postUrl = post.url | split: "" | reverse | join: "" | remove_first: "lmth." | split: "" | reverse | join: "" %}
        <p class="post-item">
          <a href="{{ postUrl }}" class="post-title">{{ post.title }}</a>
          <br>
          <span class="post-description">{{ post.summary }}</span>
        </p>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</main>
{% include footer.html %}
</body>
</html>
