<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/fontawesome-all.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="icon" type="image/png" href="/favicon.png"/>
  <title>{{site.title}}</title>
</head>
<body>
<div>
  <div id="header">
    {% include header.html %}
  </div>
  <div class="content row">
    {{content}}
  </div>
  <div>
    {% include footer.html %}
  </div>
</div>

<script src="{{ '/assets/js/jquery.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
<script src="{{ '/assets/js/bootstrap.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
<script src="{{ '/assets/js/contact.js?v=' | append: site.github.build_revision | relative_url }}"></script>
</body>
</html>
